<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
</head>
<body>
    <h1>Delete Book</h1>
    <form method="post">
        <p>Are you sure you want to delete {{ book.title }}?</p>
        <button type="submit">Delete</button>
        <a href="{{ url_for('showBook') }}">Cancel</a>
    </form>
</body>
</html>
