<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form method="post">
        <p>Name:</p>
        <input type="text" id="title" name="title" value="{{ book.title }}">
        <button type="submit">Edit</button>
        <a href="{{ url_for('showBook') }}">Cancel</a>
    </form>
</body>
</html>
