<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Books</title>
</head>
<body>
    <h1>Books</h1>
    {% for book in books %}
        <div>
            {{ book.title }}<br>
            <a href="{{ url_for('editBook', book_id=book.id) }}">Edit books</a><br>
            <a href="{{ url_for('deleteBook', book_id=book.id) }}">Delete books</a>
        </div>
        <br>
        <br>
    {% endfor %}
</body>
</html>
